#container-accordion {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    max-width: 1200px;
    min-width: 400px;
    padding: 10px;
    background-color:rgb(165, 100, 2);
    height: auto;
    border-radius: 20px;
    margin-bottom: 3%;


}

#perguntasfreq{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.accordion {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 12px;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.accordion-header {
    width: 100%;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    cursor: pointer;
}

.accordion-header span {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.accordion-body {
    color: #444;
    font-size: 14px;
    opacity: 0;
    height: 0;
    transition: opacity .3s;
}
.accordion-body p{
    color: #444;

}
.accordion-body.active  {
    height: 100%;
    transition: opacity .3s;
    opacity: 1;
    overflow: visible;
    padding: 5px 0px;
    color: black;
}

.arrow {
    transition: transform .2s linear;
}

.accordion:has(.active) .arrow {
    transform: rotate(180deg);
}