footer {
    padding-top: 2%;
    padding-bottom: 0;
    background-color: #fff;
    display: flex;
    justify-content:space-around;
}
footer img{
width: 100PX;
height: 100PX;
}

.TITTLE-FOOTER i{
    align-items: center;
    justify-content: center;
}


#copyright {
    color: gray;
    font-weight: 500;
}


@media screen and (max-width: 600px) {
    #footer_items {
        flex-direction: column;
        gap: 20px;
    }
}